click==6.6
dopy==0.3.5
ecdsa==0.13
Fabric==1.10.2
Flask==0.11.1
Flask-SQLAlchemy==2.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
paramiko==1.16.0
passlib==1.6.5
pycrypto==2.6.1
pygobject==3.22.0
requests==2.9.1
selenium==2.53.6
SQLAlchemy==1.1.4
vboxapi==1.0
Werkzeug==0.11.11
